{% extends 'store/main.html' %}
{% load static %}
{% block content %}


    <div class="row">
        {% for item in products %}
        <div class="col-lg-4">
            <img src="{{item.image.url}}" class="thumbnail" alt="">
            <div class="box-element">
                <h3>{{item.name}}</h3>
                <hr>
                <button class="btn btn-outline-secondary">Add to cart</button>
                <a href="#" class="btn btn-outline-success">View</a>
                <h4 style="float: right;"><strong>{{item.price|floatformat:2}}</strong></h4>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}